.el-carousel {
  position: relative;
  .el-carousel__holder {
    overflow: hidden;
  }
  .el-carousel__track {
    transition: transform .3s ease-in-out;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .el-carousel__item {
    float: left;
    overflow: hidden;
  }
  .el-carousel__pagination {
    text-align: center;
    margin-top: 10px;

    .pagination__dot {
      width: 8px;
      height: 8px;
      background-color: transparent;
      display: inline-block;
      border: 1px solid #000;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;

      &--active {
        background-color: #000;
      }
    }
  }
  .el-carousel__nav {
    position: absolute;
    top: 50%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    &:before {
      content: ''
    }
    &--prev {
      transform: rotate(-135deg);
      left: 1em;
    }
    &--next {
      transform: rotate(45deg);
      right: 1em;
    }
  }
}